<html>
    <head>
        <script>
            {{#hasReferences}}
            function loadValues(model,values,label,controlId,relatedModel){
                var xhr = new XMLHttpRequest();

                var id = "";
                var val = "";

                if(values){
                    id = values.slice(-1);
                    val = values.slice(0, -1) + "/";
                }else{
                    val = "";
                }

                xhr.open("GET", "/api/"+val+""+model+"/"+id, true);
                console.log("/api/"+val+""+model+"/"+id);
                xhr.onreadystatechange = function () {
                    if(xhr.readyState === 4 && xhr.status === 200) {
                        var control = document.getElementById(controlId);
                        var response = JSON.parse(this.responseText);
                        console.log(response);

                        if(response.constructor === Array){
                            control.innerHTML = response.map(row => {
                                //console.log("ROW:"+JSON.parse(JSON.stringify(row)));
                                //console.log("LABEL:"+label); 
                                return row[label] 
                            }).join();
                            
                        }else{
                            control.innerHTML = response[label];
                        }
                    }  
                }
                xhr.send();
            }

            window.onload = function() {
                {{#references}}
                loadValues('{{model}}','{{values}}','{{label}}','label{{model}}value');
                {{/references}}
            }
            {{/hasReferences}}
        </script>
    </head>

    <body>        
        {{#properties}}        
        <div>   
            <h3>{{name}}: {{value}}</h3>                  
        </div>        
        {{/properties}}

        {{#references}}
            <label>{{model}}:</label>
            <label id="label{{model}}value"></label>
        {{/references}}   
    </body>
 </html>