<html>
    <body>
        <form method="{{method}}" action="/api/{{schemaName}}/{{id}}">
        {{#properties}}
            <div>
                    
                <label>{{name}}:</label>            
                <input type="{{typeInput}}" name="{{name}}" value="{{value}}"/>
                <br>
                 
            </div>        
        {{/properties}}
        <input type="submit" value="Submit"/> 
        </form>
    </body>
</html>