const express = require('express');
const app = express();

var Actor = require("./Models/Actor");

app.get("/", function (req, res) 
{
    res.send("Hello World");
});

app.get("/Actors",function (req,res){

    Actor.all(function(rows){
        console.log(rows);
    });
});

app.listen({{port}}, () => {
    console.log("Generated Server running on port {{port}}!!");
});