const express = require('express');
const app = express();

app.get("/", function (req, res) 
{
    res.send("Hello World");
});


app.listen({{port}}, () => {
    console.log("Generated Server running on port {{port}}!!");
});