const express = require('express');
const mustacheExpress = require('mustache-express');
const app = express();
const path = require('path');
app.engine('mustache', mustacheExpress());
app.set('view engine', 'mustache');
app.set('views', __dirname + '/Views');

{{{routing_consts}}}
{{{backoffice_routing}}}

{{{routing_using}}}
{{{backoffice_using}}}

app.get("/", function (req, res) 
{
    res.render('index');
});

app.listen({{port}}, () => {
    console.log("Generated Server running on port {{port}}!!");
});