var express = require('express');
var router = express.Router();

router.get("/", function (req, res) 
{
    var schem = [];
    {{#schemas}}
        schem.push({name:"{{name}}" ,href: "{{{href}}}" });
    {{/schemas}}

    res.render('index', {
        title: '{{title}}',
        schemas: schem,
        backgroundColor: '{{background}}',
        menuPosition: '{{menuPosition}}',
        menuColour: '{{menuColour}}',
        imageLink: '{{imageLink}}'  
    });
});

module.exports = router;