var express = require('express');
var router = express.Router();
var fs = require("fs");

{{#schemas}}
var {{schemaName}} = require('../Models/{{schemaName}}.js').{{schemaName}};
{{/schemas}}


{{#schemas}}
router.get('/{{schemaName}}', function(req, res){
    {{schemaName}}.all(function(rows){
        var schema = JSON.parse(fs.readFileSync("Schemas/" + "{{{schemaName}}}".toLowerCase()+ "-schema.json"));
        res.render('list', {
            title: '{{schemaName}}s',
            columns: Object.keys(new {{schemaName}}()).map(key => {
                return {
                    name: getPropertyLabel(schema,key)
                };
            }),
            rows: rows.map(obj => {
                return {
                    properties: Object.keys(obj).map(key => {
                        return {
                            name: key,
                            value: obj[key]
                        }
                    }),
                    actions: [{
                        label: '',
                        link: './{{schemaName}}/detalhe/' + obj.id,
                        image: {
                            src: '../Images/read.png'
                        },
                        tooltip: 'Detalhe'
                    }, {
                        label: '',
                        link: './{{schemaName}}/editar/' + obj.id,
                        image: {
                            src: '../Images/edit.png'
                        },
                        tooltip: 'Editar'
                    }, {
                        label: '',
                        link: '#',
                        image: {
                            src: '../Images/delete.png'
                        },
                        tooltip: 'Apagar',
                        events: [{
                            name: "onclick",
                            function: "deleteRecord",
                            args: obj.id
                        }]

                    }]
                }
            })
        });
    });  
});



router.get('/{{schemaName}}/detalhe/:id', function(req, res){
    var schema = JSON.parse(fs.readFileSync("Schemas/" + "{{{schemaName}}}".toLowerCase()+ "-schema.json"));
    var allRefs = [];
    var referenceWrapper = [];
    if(schema.references){
        getReferences(schema.title,req.params.id,(wrapper => {

        console.log(wrapper);
        {{schemaName}}.get(req.params.id, function(rows){
        res.render('details', {
            title: '{{schemaName}}s',
            properties: function () {
                var data = JSON.parse(JSON.stringify(rows[0]));
                var allProps = Object.getOwnPropertyNames(data);
                var validProps = [];
                allProps.forEach(function (prop) {
                    if (schema.properties.hasOwnProperty(prop)){
                    validProps.push({
                        name: getPropertyLabel(schema, prop),
                        value: rows[0][prop]
                    });
                }  
            });
            return validProps;
            },
            referenceWrapper: wrapper
        })
    });
        }))
        /*
        for(var i=0; i<schema.references.length; i++){    
            if(schema.references[i].relation === 'M-M'){
                var name = eval(schema.references[i].model);
                var model = schema.references[i].model; 
                name.many(schema.title, req.params.id, function(rows){
                    var refSchema = JSON.parse(fs.readFileSync("Schemas/" +model.toLowerCase()+ "-schema.json"));
                    let refKeys = Object.keys(refSchema.properties);
                    for(var j=0; j<rows.length; j++){
                        var data = JSON.parse(JSON.stringify(rows[j]));
                        var allProps = Object.getOwnPropertyNames(data);
                        //console.log("DATA:"+JSON.stringify(rows[j]));
                        var iterations = refKeys.length ;
                        //console.log(iterations);
                        for(var k=0; k<iterations; k++){
                            if(refKeys[k] != "id"){
                                //console.log(refSchema.properties[refKeys[k]]);
                                allRefs.push({
                                    value: rows[j][refKeys[k]],
                                    name: refSchema.properties[refKeys[k]].label,
                                })
                            }
                        }
                    }
                    referenceWrapper.push( {
                        refName: model,
                        references: allRefs,
                    })
                    allRefs = [];       
                })
                                
            }
                 
        }
        */
    }
    
});

router.get('/{{schemaName}}/editar/:id', function(req, res){
    {{schemaName}}.get(req.params.id, function(rows){
        if(rows){ 
            var schema = JSON.parse(fs.readFileSync("Schemas/" + "{{{schemaName}}}".toLowerCase()+ "-schema.json"));
            var keys = Object.keys(schema.properties);
           
            let props = rows.map(obj => {
                        return {
                             values: Object.keys(obj).map(key => {
                                return {
                                    name: getPropertyLabel(schema,key),
                                    value: (schema.properties[key].type === 'date') ? new Date(obj[key]).toISOString().substring(0, 10) : obj[key],
                                    typeInput: convertType(schema.properties[key].type),
                                    hidden: (key === 'id') ? 'hidden' : '',
                                }
                            })
                        }
                    })
            res.render('form', {
                title: '{{schemaName}}s',
                    method: 'POST',
                schemaName: '{{schemaName}}',
                properties: props[0].values,
                id: req.params.id,
            });
        }
    }
)});

router.get('/{{schemaName}}/insert', function (req, res){
    var schema = JSON.parse(fs.readFileSync("Schemas/" + "{{{schemaName}}}".toLowerCase()+ "-schema.json"));
    var keys = Object.keys(schema.properties);
    
    res.render('form',{
        title: '{{schemaName}}s',
        method: 'POST',
        schemaName: '{{schemaName}}',
        properties: keys.map(elem => {
            return {
                name: schema.properties[elem].label,
                value: undefined,
                typeInput: convertType(schema.properties[elem].type),
                hidden: (elem === 'id') ? 'hidden' : '',
            }
        })
    });
});


{{/schemas}}

function getReferences(schemaName,id,callback) {
   var schema = JSON.parse(fs.readFileSync("Schemas/" + schemaName.toLowerCase()+ "-schema.json"));
    var allRefs = [];
    var referenceWrapper = [];
    var filtered = schema.references.filter(e => e.model !== 'M-M');
    schema.references = filtered;
    if(schema.references){
        for(var i=0; i<schema.references.length; i++){
            allRefs = [];     
            if(schema.references[i].relation === 'M-M'){
                var name = eval(schema.references[i].model);
                var model = schema.references[i].model; 
                name.many(schema.title, id, function(rows){
                    var refSchema = JSON.parse(fs.readFileSync("Schemas/" +model.toLowerCase()+ "-schema.json"));
                    let refKeys = Object.keys(refSchema.properties);
                    for(var j=0; j<rows.length; j++){
                        var data = JSON.parse(JSON.stringify(rows[j]));
                        var allProps = Object.getOwnPropertyNames(data);
                        //console.log("DATA:"+JSON.stringify(rows[j]));
                        var iterations = refKeys.length ;
                        //console.log(iterations);
                        for(var k=0; k<iterations; k++){
                            if(refKeys[k] != "id"){
                                //console.log(refSchema.properties[refKeys[k]]);
                                allRefs.push({
                                    value: rows[j][refKeys[k]],
                                    name: refSchema.properties[refKeys[k]].label,
                                })
                            }
                        }
                    }
                         
                })
                  referenceWrapper.push( {
                        refName: model,
                        references: allRefs,
                  })               
             }
            
                
        }
    }
    callback(referenceWrapper);
}


function convertType(type) {
    switch (type) {
        case 'string':
            return 'text';
        default:
            return type;
    }
}

function getPropertyLabel(schema, property){
    if(schema.properties[property] != null){
        return schema.properties[property].label;
    }else{
        for(var i=0; i<schema.references.length; i++){
            if(schema.references[i].relation === '1-M'){
                if(schema.references[i].columnName === property){
                    return schema.references[i].model;
                }
            }
        }       
    }   
    return "";
}

function getPropertyType(schema, property){
    if(schema.properties[property] != null){
        if(property.includes("date")){
            return "date";
        }else if(schema.properties[property].type === 'string'){
            return "text";
        }else{
            return "number";
        }
    }
}

module.exports = router;