<html>
    <head>        
        <title>{{title}}</title>    
    </head>
    <body>
        <table>
            <tr>                
                {{#columns}}                
                <th>{{name}}</th>                
                {{/columns}}            
            </tr>
            {{#rows}}
            <tr>
                {{#properties}}
                <td>
                    {{value}}
                </td>
                {{/properties}}
                {{#actions}}    
                    <td>        
                        <a href="{{link}}" title="{{tooltip}}" {{#events}}{{name}}="javascript:{{function}}({{args}})" {{/events}}>            
                        {{#image}}                
                        <img src="{{src}}" alt="{{alt}}" />            
                        {{/image}}        
                        </a>    
                        </td>
                {{/actions}}
            </tr>
            {{/rows}}
        </table>
    </body>
</html>