var express = require('express');
var router = express.Router();

var {{schemaName}} = require('../Models/{{schemaName}}.js');

router.get('/{{schemaName}}', function(req, res){
    {{schemaName}}.all(function (rows){
        res.json(rows);
    });
});

router.get('/{{schemaName}}/:id', function(req, res){
    {{schemaName}}.get(req.params.id, function(rows){
        res.json(rows);
    }); 
});

router.post('/{{schemaName}}', function(req, res){
    const { {{schemaProps}} } = req.body;
    var newData = new {{schemaName}}({{schemaProps}});
        newData.save(function(){
        console.log("Data Inserted!");
    });
    res.sendStatus(200);
});

router.put('/{{schemaName}}/:id', function(req, res){
    const { {{schemaProps}} } = req.body;
    var newData = new {{schemaName}}(req.params.id,{{schemaProps}});
        newData.save(function(){
        console.log("Data Updated!");
    });
    res.sendStatus(200);
});

router.delete('/{{schemaName}}/:id', function(req, res){
    {{schemaName}}.delete(req.params.id, function(rows){
        console.log("Data Deleted!");
    });
    res.sendStatus(200);  
});

router.get('/{{schemaName}}/:model/:id', function(req, res) {
    {{schemaName}}.many(req.params.model, req.params.id, function (rows){
        res.json(rows);
    });
});

module.exports = router;