var express = require('express');
var router = express.Router();

var {{schemaName}} = require('../Models/{{schemaName}}.js').{{schemaName}};

router.get('/{{schemaName}}', function(req, res){
    {{schemaName}}.all(function (rows){
        res.json(rows);
    });
});

router.get('/{{schemaName}}/:id', function(req, res){
    {{schemaName}}.get(req.params.id, function(rows){
        res.json(rows);
    }); 
});

router.post('/{{schemaName}}', function(req, res){
    var obj = {};
    Object.keys(req.body).forEach(elem => {
        let filteredAtr = elem.replace(/ /g,'').toLowerCase();
        obj[filteredAtr] = req.body[elem];
    });
    
    const { {{schemaProps}} } = obj;
    var newData = new {{schemaName}}(undefined,{{schemaProps}});
        newData.save(function(){
        console.log("Data Inserted!");
    });
});

router.post('/{{schemaName}}/:id', function(req, res){
    var obj = {};
    Object.keys(req.body).forEach(elem => {
        let filteredAtr = elem.replace(/ /g,'').toLowerCase();
        obj[filteredAtr] = req.body[elem];
    });
    
    const { {{schemaProps}} } = obj;
    var newData = new {{schemaName}}(req.params.id,{{schemaProps}});
        newData.save(function(){
        console.log("Data Updated!");
    });
});

router.delete('/{{schemaName}}/:id', function(req, res){
    {{schemaName}}.delete(req.params.id, function(rows){
        console.log("Data Deleted!");
    });
    res.sendStatus(200);  
});

router.get('/{{schemaName}}/:model/:id', function(req, res) {
    {{schemaName}}.many(req.params.model, req.params.id, function (rows){
        res.json(rows);
    });
});

module.exports = router;